*.class

# Package Files #
*.jar
*.war
*.ear

# Library Exceptions #
!/lib/*.jar

# Properties Files #
build.*.properties
app.server.*.properties

## Needed for the production user
!build.liferay.properties

# Mac files #
.DS_Store

# Temp files #
*.*~
*.*#
.*~
.*#