*.class

# Package Files #
*.jar
*.war
*.ear


# Properties Files #
build.*.properties
app.server.*.properties

## Needed for the production user
!build.liferay.properties

# Mac files #
.DS_Store

# Temp files #
*.*~
*.*#
.*~
.*#

# Ivy
.ivy/*
ivy.xml.MD5