*.class

# Package Files #
*.jar
*.war
*.ear

# Library Exceptions #
!/lib/*.jar

# Properties Files #
build.*.properties
app.server.*.properties
!build.liferay.properties ## Needed for the production user

# Mac files #
.DS_Store