$primaryHighlight: rgb(255,255,255);
$primaryColour: rgb(44,16,2); // black?

$contrastColour: rgb(0,0,0); 
$contrastHighlight: rgb(200,205,208); 

$accentLight: rgb(199,75,85); 
$accentDark: rgb(107,105,106); 

$shadowColour: rgb(84,94,82);

// Global Styles
//--------------------------------------
$black: rgb(0, 0, 25);
$grayLighter: $accentLight;

$textColor: $shadowColour;
$linkColor: $accentLight;
$linkColorHover: $accentDark;

// Components
//-------------------------------------- 

// Dropdown Menus
$dropdownLinkBackgroundActive: $primaryColour;
$dropdownLinkBackgroundHover: $primaryColour;

//Buttons
//---------------------------------------
$btnPrimaryBackground: $contrastColour;
$btnPrimaryBackgroundHighlight: lighten($contrastColour, 20);


// Dropdown
//---------------------------------------
$dropdownBackground: $accentLight;
$dropdownBorder: rgba($accentDark, 0.2);
$dropdownDividerTop: $accentDark;
$dropdownDividerBottom: $accentLight;

$dropdownLinkColor: $linkColor;

// Navigation
$navbarBackgroundHighlight: $accentLight;
$navbarBackground: darken($accentLight, 10);
$navbarBorder: $shadowColour;

$navbarText: $shadowColour;
$navbarLinkColorHover: $navbarText;
$navbarLinkBackgroundHover: $accentLight;
$navbarLinkBackgroundActive: $accentDark;


$wellBackground: $primaryColour;


// Hero unit
// -------------------------
$heroUnitBackground:              $contrastHighlight;
$heroUnitText:			  $contrastColour;
