$linkColor: rgb(205,206,192);
$linkColorHover: rgb(180,182,160);

$btnPrimaryBackground: darken(rgb(83,145,170), 20);
$btnPrimaryBackgroundHighlight: rgb(83,145,170);

$infoText: rgb(83,145,170);

$navbarBackground: lighten(rgb(205,206,192), 10);
$navbarBackgroundHighlight: rgb(205,206,192);
$navbarBorder:  rgb(83,145,170);
$navbarLinkBackgroundActive: lighten($navbarBackground, 25%);
$navbarLinkColor: $infoText;
$navbarLinkColorHover: $linkColorHover;
$navbarText: $navbarLinkColor;

$gray: #555;
$white: #FFF;

$baseBorderRadius: 2px;
$borderRadiusLarge: 3px;
$borderRadiusSmall: 2px;

$btnBackground: #F6F6F6;
$btnBackgroundHighlight: #EAEAEA;
$btnBorder: #CFCFCF;
$btnDangerBackground: #F53924;
$btnDangerBackgroundHighlight: #ED2C17;
$btnInfoBackground: #00CFFF;
$btnInfoBackgroundHighlight: darken($btnInfoBackground, 4%);
$btnSuccessBackground: #CBDF2E;
$btnSuccessBackgroundHighlight: #C4D72C;
$btnWarningBackground: #FFA658;
$btnWarningBackgroundHighlight: #F49645;

$dropdownLinkBackgroundActive: lighten($linkColor, 5%);
$dropdownLinkBackgroundHover: darken(#3ECAF4, 10%);
$dropdownLinkColorActive: $white;

$errorBackground: #FEE5E2;
$errorBorder: #FCACA5;
$errorText: #B50303;
$infoBackground: #CEF1FC;
$infoBorder: darken($infoBackground, 10%);
$successBackground: #F5FBD1;
$successBorder: #D3E830;
$successText: #8D9D0D;
$warningBackground: #FFFBDC;
$warningBorder: #F1D875;
$warningText: #BF7900;