<nav class="$nav_css_class navbar navbar-inner" id="navigation">

	<h1 class="hidden">
		<span>#language ("navigation")</span>
	</h1>

	<a class="brand" href="$site_default_public_url">
	   $site_name
	</a>		

	<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	</a>
	
	<div class="nav-collapse collapse navbar-responsive-collapse">
	<ul class="nav">
	    <li class="divider-vertical"></li>
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
			    #set ($aria-selected = 'aria-selected="true"')
			    #set ($selected = "selected active")
			#else
				#set ($aria-selected = '')
				#set ($selected = "")
			#end

			#if ($nav_item.hasChildren())
			    #set ($dropdown = "dropdown")
			#else
			    #set ($dropdown = "")
			#end
				<li $aria-selected class="$selected $dropdown" id="layout_$nav_item.getLayoutId()">
		
			#if ($dropdown == "")
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>
			#else
				<a href="$nav_item.getURL()" $nav_item.getTarget() class="dropdown-toggle"
>$nav_item.icon() $nav_item.getName()<b class="caret"></b></a>
			#end
				#if ($dropdown == "dropdown")
				    <ul class="dropdown-menu child-menu">
				    #foreach ($nav_child in $nav_item.getChildren())
				    	     #if ($nav_child.isSelected())
					     	 <li aria-selected="true" class="selected active" id="layout_${nav_child.getLayoutId()}">
						 #else
						<li id="layout_${nav_child.getLayoutId()}">
						#end
							<a href="${nav_child.getURL()}" ${nav_child.getTarget()}>${nav_child.getName()}</a>
						</li>
				    #end
				    </ul>
				#end
			</li>
		#end

	</ul>
</div>
</nav>
