$lightBgColour: rgb(255,255,255);
$darkBgColour: rgb(83,145,170);
$lightHighlightColour: rgb(205,206,192);
$darkHighlightColour: rgb(180,182,160); 
$shadowColour: rgb(84,94,82);

// Global Styles
//--------------------------------------
$black: rgb(0, 0, 25);
$grayLighter: $lightHighlightColour;

$textColor: $shadowColour;
$linkColor: $lightHighlightColour;
$linkColorHover: $darkHighlightColour;

// Components
//-------------------------------------- 

// Dropdown Menus
$dropdownLinkBackgroundActive: $darkBgColour;
$dropdownLinkBackgroundHover: $darkBgColour;

//Buttons
//---------------------------------------
$btnPrimaryBackground: $darkBgColour;
$btnPrimaryBackgroundHighlight: lighten($darkBgColour, 20);

// Navigation
$navbarBackgroundHighlight: $lightHighlightColour;
$navbarBackground: darken($lightHighlightColour, 10);
$navbarBorder: $shadowColour;

$navbarText: $shadowColour;
$navbarLinkColorHover: $navbarText;
$navbarLinkBackgroundHover: $lightHighlightColour;
$navbarLinkBackgroundActive: $darkHighlightColour;


$wellBackground: $darkBgColour;